.hoverable-rows tr:hover {
  background-color: lightblue;
}

.status-fail {
  color: darkred;
}

.status-duplicate {
  color: darkorange;
}

.status-add {
  color: darkgreen;
}

#parsing-results table {
  width: 100%;
}

#parsing-results .changeform-tabs .module.selected {
  display: inherit;
}

#parsing-results .changeform-tabs .module {
  display: none;
}

#parsing-results .status-toggler .count {
  width: 20px;
  display: inline-block;
}
