{% extends "CemeteryAdministration/base.html" %}

{% load bootstrap_tags %}
{% load base_extras %}

{% block content %}

    <section class="year-search hidden-print">
        <form action="{% url template_name %}" method="get">
            <div class="input-group">
                {{ years_form|as_bootstrap }}
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary">Caută</button>
                </div>
            </div>
        </form>
    </section>

    <section class="tables">
        {% for table in tables %}
        <h2 class="page-header">{{ table.year }}</h2>

        {% if table.rows %} <!-- if there are records -->

        <!--todo pagination-->
        <!--todo replace uparrow and downarrow symbols with glyphs-->
        <table class="table table-striped table-hover sortable">
            <thead>
                <tr class="row">
                    {% for table_header in table_headers %}
                    <!--todo tables that don't break so early-->
                    <th class="col-md-{{ table_header.width }}">{{ table_header.name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in table.rows %}
                <tr class="row">
                    {% for data, max_width in row|zip:max_data_widths %}
                    <td class="{% if data|contains:'.' %}
                               italic
                               {% endif %}">
                        {% if data|length > max_width %}
                            <a href="#" data-toggle="popover" data-placement="left" data-content="{{ data }}">
                                {{ data|truncatechars:max_width }}</a>
                        {% else %}
                            {{ data }}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% else %} <!-- if there are no records -->

        <p class="text-warning">Nu există înregistrări de {{ title|lower }} pentru anul {{ table.year }}.</p>

        {% endif %}

        {% endfor %}
    </section>

{% endblock %}