{% extends "CemeteryAdministration/base.html" %}

{% block title %}Registru General{% endblock %}

{% block content %}
    <!--todo find a solution for smaller devices for this huge table (scrollable)-->
    <table class="table table-striped table-hover sortable">
        <thead>
            <tr class="row">
                <th class="col-lg-1" data-toggle="tooltip-top" data-container="body" title="Cod loc de veci">#</th>
                <th class="col-lg-1" data-toggle="tooltip-top" data-container="body" title="Parcelă">Parc</th>
                <th class="col-lg-1" data-toggle="tooltip-top" data-container="body" title="Rând loc de veci">Rând</th>
                <!--todo set in preference if it should be called _loc_ or _coloana_-->
                <th class="col-lg-1" data-toggle="tooltip-top" data-container="body" title="Coloană loc de veci">Loc</th>

                <th class="col-lg-4" data-toggle="tooltip-top" data-container="body" title="Prenume, nume concesionari">Concesionar</th>
                <th class="col-lg-2" data-toggle="tooltip-top" data-container="body" title="Telefoane concesionari">Telefon</th>

                <th class="col-lg-1" data-toggle="tooltip-top" data-container="body" title="Actul de concesiune (nr/an). * reprezintă faptul că împarte actul cu alte locuri">Act</th>
                <th class="col-lg-1" data-toggle="tooltip-top" data-container="body" title="Chitanțe concesiune (nr/an)">Chitanță</th>

                <th class="col-lg-4" data-toggle="tooltip-top" data-container="body" title="Prenume, nume înhumați/dezhumați">Înhumat</th>
                <th class="col-lg-1" data-toggle="tooltip-top" data-container="body" title="Anii înhumărilor/dezhumărilor">An</th>

                <th class="col-lg-3" data-toggle="tooltip-top" data-container="body" title="Tipuri construcție">Construcții</th>
                <th class="col-lg-1" data-toggle="tooltip-top" data-container="body" title="Autorizație constructie (nr/an)">Autoriz</th>
                <th class="col-lg-1" data-toggle="tooltip-top" data-container="body" title="Până în ce an este plătit">Plată</th>
                <th class="col-lg-1" data-toggle="tooltip-top" data-container="body" title="Anii în care nu a fost întreținut (15 reprezintă 2015, 94 reprezintă 1994)">Neîntreținut</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr class="row">
                {% for data in row %}
                <td>
                    {% for value in data %}
                        {{ value }}
                        {% if not forloop.last %}
                        <br>
                        {% endif %}
                    {% empty %}
                    -
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}