{% extends "CemeteryAdministration/base.html" %}

{% block title %}Administrare Locuri de Veci{% endblock %}

{% block content %}

     <section class="general-search hidden-print">
        <form class="row col-sm-24 input-group">
            <input type="text" class="form-control" placeholder="fields">
            <span class="input-group-btn">
                <button class="btn btn-primary">Caută</button>
            </span>
        </form>
    </section>

    <section class="container-fluid">
        <!-- TODO preference: bordered/unbordered tables -->
        <table class="table table-striped table-hover db row">
            <thead>
                <tr>
                    {% for header in headers %}
                    <th class="col-md-4">{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    {% for data in row %}
                    <!-- ID isin't editable -->
                    <td {% if not forloop.first %} contenteditable {% endif %}
                        entity="{{ data.entity }}" db-id="{{ data.db_id }}" field="{{ data.field }}">
                        {% if data.data %} {{ data.data }} {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}
