{% extends "admin/base_site.html" %}

{% load custom_filters %}

{# TODO page title before | #}
{# TODO breadcrumbs #}

{% block content %}

    {# TODO action #}
    <form action="bulk-add" method="post">
      {% csrf_token %}
      <div>

        <fieldset class="module aligned {{ fieldset.classes }}">
        {% for field in form %}
            <div class="form-row
                        {% if field.name %} field-{{ field.name }} {% endif %}
                        {% if field.errors %} errors {% endif %}
                        {% if field.is_hidden %} hidden {% endif %}
                        ">
                {{ field.errors }}

                {% if field|is_checkbox %}
                  <div class="checkbox-row">
                    {{ field }} {{ field.label_tag }}
                  </div>
                {% else %}
                  {{ field.label_tag }} {{ field }}
                {% endif %}

                {% if field.help_text %}
                  <div class="help">{{ field.help_text|safe }}</div>
                {% endif %}
            </div>
        {% endfor %}
        </fieldset>

        <div class="submit-row">
          <input type="submit" value="Add" class="default">
        </div>

      </div>
    </form>

{% endblock %}